@media only screen and (max-width: 768px) {
  html {
    font-size: 12px; }
  header .navbar-brand {
    margin-top: 0;
    margin-bottom: 5px; }
    header .navbar-brand img {
      max-height: 40px; }
  header .navbar li a {
    padding-top: 5px;
    padding-bottom: 5px; }
  header .drop-big .brand-offer-s {
    height: 5rem; }
  .bef-h .input-group {
    max-width: rem(160px); }
  #banner-carousel .caro-img {
    height: 300px; }
  #banner-carousel .slick-dots {
    bottom: 10px; }
  .stores .store-link {
    width: rem(80px);
    height: rem(80px); }
  .stores .store-wrap {
    width: rem(100px);
    height: rem(100px); }
  .slick-dots {
    bottom: 10px; }
  .brand {
    margin-bottom: 10px; }
  .store-wrap {
    margin-bottom: 15px;
    text-align: center; }
  .category {
    margin-bottom: 15px; }
  .button.btn-border {
    padding-right: 10px;
    padding-left: 10px; }
  .product .product-img {
    height: auto; }
  .benefits .benefit {
    margin-bottom: 15px; }
  .foot-logo {
    text-align: center; }
    .foot-logo img {
      max-width: 35%;
      margin: auto; }
  footer .text-right {
    text-align: right !important; }
  footer h4 {
    margin-top: 15px; }
  .table {
    width: auto; }
    .table td {
      min-width: 100px; }
  .card-item .pro-img {
    margin-bottom: 15px; }
  .contact-form {
    margin-bottom: rem(30px); }
  .ag-c {
    padding-right: rem(15px); }
  .rate.lg span {
    display: block; }
  .share-pro img {
    max-width: 15px; }
  .filter .select-g {
    margin-bottom: rem(10px); }
  .filter .padd-r-0 {
    padding-right: rem(15px); }
  .about-img {
    margin-top: rem(30px); }
  #address-modal .map-wrap, #modal-order .map-wrap {
    min-width: 0px; }
  .store-img {
    margin-bottom: 15px; } }

@media only screen and (max-width: 600px) {
  #banner-carousel .caro-img {
    height: 150px; } }

@media only screen and (max-width: 992px) {
  .increament-input button {
    padding: 0.5rem 3px; }
  .increament-input {
    min-width: 55px; }
  header .navbar-brand {
    margin-top: 0;
    margin-bottom: 5px; }
    header .navbar-brand img {
      max-height: 40px; }
  .package {
    margin-bottom: 15px; } }

@media (max-width: 1200px) and (min-width: 769px) {
  html {
    font-size: 14px; }
  .store-wrap {
    margin-bottom: 10px; }
  .price-info h6.sale {
    display: none; }
  .product-info button.btn-gredient {
    margin-top: 10px; }
  .store-det .flex-div-2 {
    flex-direction: column; } }
